.ping {
  fill: red;
  stroke: #222;
  stroke-width: .5px;
}

.states {
  fill: #faf8f8;
  stroke: #000;
  stroke-width: 1px;
}

.parks{
  fill:navy
}

.infoLabel {
  position: absolute;
  min-height: 50px;
  min-width: 50px;
  color: #fff;
  background-color: navy;
  border: solid thin #fff;
  padding: 5px 10px;
}

.infoLabel h1 {
  margin: 0 20px 0 0;
  padding: 0;
  display: inline-block;
  line-height: 1em;
}